{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="grid_16 content">
        <h1>Login</h1>
        <form action="." method="post" class="form">
            {% csrf_token %}
            <fieldset>
                {{ form.as_p }}
            </fieldset>
            <fieldset class="submitrow">
                <p><label>&nbsp;</label><button type="submit">Login</button></p>
                <ul style="padding-left:182px;padding-top:5px">
                    <li><a href="{% url registration %}">No account? Register here.</a></li>
                    <li><a href="{% url auth_password_reset %}">No Password? Reset your password here.</a></li>
                </ul>
            </fieldset>
        </form>
    </div>
{% endblock %}
