{% extends "base.html" %}

{% block title %}Change profile{% endblock %}

{% block content %}
    <div class="grid_16" id="content">
        <h1>Change your profile</h1>

        <form action="." method="post" class="form">
            {% csrf_token %}
            <fieldset>
                <p>
                    Your current E-Mail is {{ request.user.email }},
                    <a href="{% url accounts_email_change %}">click here to change the address</a>.
                </p>
                <p>
                    To change your password, <a href="{% url auth_password_change %}">click here</a>.
                </p>
                <br />
                {{ form.as_p }}
            </fieldset>
            <fieldset class="submitrow">
                <p><label>&nbsp;</label><button type="submit">Save changes</button></p>
            </fieldset>
        </form>
    </div>
{% endblock %}

