Django==1.11.29
South==0.7.6
redis==2.7.2
django-redis-cache==0.9.5
django-userprofiles==0.4
Pygments==1.6rc1
dulwich==0.8.7
Twisted==12.3.0
pyasn1==0.1.4
pycrypto==2.6
coverage==3.6
flake8==2.0
django-discover-runner==0.3
django-floppyforms==1.1
