.diff .hll { background-color: #404040 }
.diff  { background: #202020; color: #d0d0d0 }
.diff .c { color: #999999; font-style: italic } /* Comment */
.diff .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.diff .g { color: #d0d0d0 } /* Generic */
.diff .k { color: #6ab825; font-weight: bold } /* Keyword */
.diff .l { color: #d0d0d0 } /* Literal */
.diff .n { color: #d0d0d0 } /* Name */
.diff .o { color: #d0d0d0 } /* Operator */
.diff .x { color: #d0d0d0 } /* Other */
.diff .p { color: #d0d0d0 } /* Punctuation */
.diff .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.diff .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.diff .c1 { color: #999999; font-style: italic } /* Comment.Single */
.diff .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.diff .gd { color: #d22323 } /* Generic.Deleted */
.diff .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.diff .gr { color: #d22323 } /* Generic.Error */
.diff .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.diff .gi { color: #589819 } /* Generic.Inserted */
.diff .go { color: #cccccc } /* Generic.Output */
.diff .gp { color: #aaaaaa } /* Generic.Prompt */
.diff .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.diff .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.diff .gt { color: #d22323 } /* Generic.Traceback */
.diff .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.diff .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.diff .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.diff .kp { color: #6ab825 } /* Keyword.Pseudo */
.diff .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.diff .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.diff .ld { color: #d0d0d0 } /* Literal.Date */
.diff .m { color: #3677a9 } /* Literal.Number */
.diff .s { color: #ed9d13 } /* Literal.String */
.diff .na { color: #bbbbbb } /* Name.Attribute */
.diff .nb { color: #24909d } /* Name.Builtin */
.diff .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.diff .no { color: #40ffff } /* Name.Constant */
.diff .nd { color: #ffa500 } /* Name.Decorator */
.diff .ni { color: #d0d0d0 } /* Name.Entity */
.diff .ne { color: #bbbbbb } /* Name.Exception */
.diff .nf { color: #447fcf } /* Name.Function */
.diff .nl { color: #d0d0d0 } /* Name.Label */
.diff .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.diff .nx { color: #d0d0d0 } /* Name.Other */
.diff .py { color: #d0d0d0 } /* Name.Property */
.diff .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.diff .nv { color: #40ffff } /* Name.Variable */
.diff .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.diff .w { color: #666666 } /* Text.Whitespace */
.diff .mf { color: #3677a9 } /* Literal.Number.Float */
.diff .mh { color: #3677a9 } /* Literal.Number.Hex */
.diff .mi { color: #3677a9 } /* Literal.Number.Integer */
.diff .mo { color: #3677a9 } /* Literal.Number.Oct */
.diff .sb { color: #ed9d13 } /* Literal.String.Backtick */
.diff .sc { color: #ed9d13 } /* Literal.String.Char */
.diff .sd { color: #ed9d13 } /* Literal.String.Doc */
.diff .s2 { color: #ed9d13 } /* Literal.String.Double */
.diff .se { color: #ed9d13 } /* Literal.String.Escape */
.diff .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.diff .si { color: #ed9d13 } /* Literal.String.Interpol */
.diff .sx { color: #ffa500 } /* Literal.String.Other */
.diff .sr { color: #ed9d13 } /* Literal.String.Regex */
.diff .s1 { color: #ed9d13 } /* Literal.String.Single */
.diff .ss { color: #ed9d13 } /* Literal.String.Symbol */
.diff .bp { color: #24909d } /* Name.Builtin.Pseudo */
.diff .vc { color: #40ffff } /* Name.Variable.Class */
.diff .vg { color: #40ffff } /* Name.Variable.Global */
.diff .vi { color: #40ffff } /* Name.Variable.Instance */
.diff .il { color: #3677a9 } /* Literal.Number.Integer.Long */

