body {
    font-family: sans-serif;
    background-color: #141616;
    color: #d4d4d4;
    font-size: 12px;
}
a {
    color: #A4D43D;
}
a:hover {
    text-decoration: none;
}
#container {
    padding: 10px;
}
#header a {
    text-decoration: none;
}
#header h1 {
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
    margin: 5px 20px;
}
#header h1 span {
    color: #A4D43D;
    font-weight: bold;
    font-size: 24px;
}
#headernav ul {
    float: right;
}
#headernav li {
    float: left;
    border-right: 1px solid #cccccc;
    padding: 2px 5px;
}
#headernav li:last-child {
    border-right: 0;
    padding-right: 0px;
}
#headernav div {
    padding-top:10px;
    padding-bottom:4px;
    float: right;
}
#headerdelim {
    border-top: 1px dashed #d4d4d4;
}
.content {
    padding-top: 10px;
    line-height: 1.4em;
}
.content h1 {
    font-size: 18px;
    margin-bottom: 10px;
}
.form fieldset {
    border: 1px solid #3F423E;
    margin-bottom: 10px;
    padding: 10px;
}

.extra fieldset {
    border: 1px solid #3F423E;
    margin-bottom: 10px;
    padding: 10px;
    background:#000;
    text-align:right;
}
.form label {
    padding-top: 10px;
    width: 180px;
    display: block;
    float: left;
}
.form input, .form textarea, .form select {
    margin: 2px;
    padding: 5px;
    border: 1px solid #3F423E;
    font-size: 16px;
    width: 400px;
    background-color: #2D2F2C;
    color: #ffffff;
}
.form textarea {
    height: 110px;
}
.form input:focus, .form textarea:focus, .form select:focus {
    background-color: #3B3E3A;
}
.form ul.errorlist {
    color: #E3345F;
    padding-left: 182px;
    margin: 4px 0px;
}
.form button {
    color: #A4D43D;
    border: 1px solid #3F423E;
    font-size: 16px;
    background-color: #3B3E3A;
}
.form .submitrow {
    border: 0px;
    padding: 0px 11px;
}
.form input[type=checkbox] {
    width: auto;
    margin: 10px;
}
.form textarea#id_key {
    font-family: monospace;
    font-size:10px;
}
#messages .message {
    margin: 10px 20px;
    padding: 5px;
}
#messages .message .close {
    float: right;
}
#messages .success {
    color: #A4D43D;
    border: 1px dashed #A4D43D;
}
#messages .error {
    color: #E3345F;
    border: 1px dashed #E3345F;
}
#messages .error a {
    color: #E3345F;
}

table {
    border-collapse: collapse;
    border: 1px solid #3F423E;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
td, th {
    border: 1px solid #3F423E;
    padding: .4em;
    text-align: left;
}
thead th {
    border: 1px solid #3F423E;
    font-weight: bold;
    white-space: nowrap;
    background-color: #A4D43D;
    color: #000000;
}
tbody th {
    white-space: nowrap;
}
tbody tr:hover {
    background-color: #2D2F2C;
}

#repo-list table {
    margin-top: 10px;
    width: 100%;
}

#repo-list th {
    /*background: #789A29;
    color: #000;*/
}

#repo-summary table {
    margin-top: 10px;
    border: 0px;
}
#repo-summary td {
    vertical-align: middle;
    border: 0px;
}
#repo-summary tr {
    border: 1px solid #333;
}

#repo-summary h2 {
    font-size: 14px;
    padding-top: 10px;
}
#repo-summary h3 {
    padding-top: 10px;
}
#repo-summary .repo-description {
    margin-top: 10px;
    margin-bottom: 10px;
}
.repo-facts i {
    display: block;
    float: left;
    width: 100px;
}
.repo-tags {
    margin-bottom: 10px;
}
.commit .commit-info {
    width:130px;
    float:left;
}
.commit .commit-info p {
    padding: 10px;
}
.commit .commit-info td {
    vertical-align: top; /* !important;*/
}
.commit hr, .changed-files hr {
    border: 0;
    border-top: 1px solid #333;
}
.commit, .changed-files, .commit-diff {
    border: 1px solid #3F423E;
    background: #1C1E1C;
    margin-bottom: 10px;
}

.commit .commit-summary {
    padding: 10px;
    width: 808px;
    float:left;
}
.commit .commit-summary img {
    float: left;
}
.changed-files {
    padding: 10px;
}
.changed-files .changed-file {
    float: left;
    width: 808px;
}
.changed-files .changed-lines {
    text-align: right;
}
.commit .commit-summary img {
    border:1px solid #000;
    vertical-align:middle;
    margin:3px;
    margin-right:10px;
}

.commit .commit-sumary p {
    margin: 5px;
}

.changed-lines .added {
    color: #A4D43D;
}
.changed-lines .removed {
    color: #E3345F;
}
.commit-diff pre {
    margin: 5px;
    overflow-x: auto;
}

.treeview tr {
    height:40px;
}

.treeview span {
    margin-left:26px;
    margin-right:14px;
}

.treeview td {
    vertical-align:middle;
}

.treeview img {
    margin-left:20px;
    margin-right:10px
}

.treeview .backlink {
    margin-left:50px;
}
.pagination {
    padding-bottom: 3px;
}
.pagination a {
    padding: 5px;
    color: #A4D43D;
}
.pagination a.next-page {
    float: right;
}
.pagination a.prev-page {
    float: left;
}
table.users {
    width: auto;
}
span.folder {
    padding: 0px 5px;
    background-color: #ffffff;
    color: #000000;
}
pre.lines {
    float: left;
    border-right: 1px solid #A4D43D;
}

.user .short_info {
    margin-top:5px;
    border:1px solid #444;
    margin-left:2px;
}

.user .short_info h2 {
    display:block;
    background:#222;
    padding:5px;
}

.user .short_info p {
    padding:5px;
}

.user .timeline h2 {
    display:block;
    background:#222;
    padding:5px;
}

.user .timeline p {
    padding:5px;
}

.user .timeline {
    margin-top:2px;
    border:1px solid #444;
    margin-left:2px;
}
