{% extends "base.html" %}
{% load repositories_tags %}

{% block title %}{{ repository.title }} - {{ commit.short_id }} - Blob: /{{ file_path }}{% endblock %}

{% block content %}
    <h1><a href="{% repo_url repositories_summary repository %}">{{ repository.title }}</a> - {{ commit.short_id }} - Blob: /{{ file_path }}</h1>

    {% include "commits/snippet_commit.html" %}

    <ul class="breadcrumb">
        <li><a href="{% repo_url trees_tree_root repository commit.id %}">{{ repository.title }}</a> <span class="divider">/</span></li>
        {% for link in breadcrumb %}
            {% if not forloop.last %}
                <li><a href="{% repo_url trees_tree repository commit.id link.path %}/">{{ link.name }}</a> <span class="divider">/</span></li>
            {% else %}
                <li class="active">{{ link.name }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <pre class="lines linesl">{% for line in file_lines %}<a id="L{{ line }}" href="#L{{ line }}">{{ line }}</a>
{% endfor %}</pre>
    <pre class="diff no-left-border">{{ file_blob_pygmentized }}</pre>
{% endblock %}
