{% extends "base.html" %}
{% load repositories_tags %}

{% block title %}{{ repository.title }} - {{ commit.short_id }} - /{{ tree.path }}{% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function(){
            $.getJSON('?commits=1', function(tree) {
                var repo_url = '{% repo_url commits_commit repository "__sha__" %}';
                $.each(tree, function(i, entry) {
                    var td = $('td#tree-row-'+entry.tree_id);
                    td.text(entry.author);
                    td.after($('<td />').append($('<a />').attr('href', repo_url.replace('__sha__', entry.id)).text(entry.since)));
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="grid_16 content" id="repo-commit">
    <h1><a href="{% repo_url repositories_summary repository %}">{{ repository.title }}</a> - {{ commit.short_id }} - /{{ tree.path }}</h1>

    {% include "commits/snippet_commit.html" %}

    {% if not tree %}
        <h2>Tree is empty.</h2>
    {% else %}
    <h2>/ {% for link in breadcrumb %}<a href="{% repo_url trees_tree repository commit.id link.path %}/">{{ link.name }}</a>{% if not forloop.last %} / {% endif %}{% endfor %}</h2>
        <table>
            {% if tree.path %}
            <tr>
                <td onclick="window.location.href='../'">
                    <span class="folder">+</span>
                    <a href="../" class="backlink">..</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
            {% for entry in tree.tree %}
            <tr>
                <td onclick="window.location.href='{% repo_url trees_tree repository commit.id entry.path %}'">
                    {% if entry.type == 'blob' %}
                        <img src="{{ STATIC_URL }}images/fileicons/{{ entry.mime_image }}" />
                    {% else %}
                        <span class="folder">+</span>
                    {% endif %}
                    <a href="{% repo_url trees_tree repository commit.id entry.path %}">{{ entry.name }}</a>
                </td>
                <td id="tree-row-{{ entry.id }}">{% if forloop.first %}<img src="{{ STATIC_URL }}images/ajaxload.gif" />{% endif %}</td>
                <td>
                    {% if entry.size %}
                        {{ entry.size|filesizeformat }}
                    {% else %}-{% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}
