{% extends "base.html" %}
{% load floppyforms %}
{% block title %}Reset password{% endblock %}

{% block content %}
    <h1>Reset password</h1>

    {% if validlink %}
        <form action="." method="post" class="form-horizontal">{% csrf_token %}
            {% form form %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Reset password</button>
            </div>
        </form>
    {% else %}
        <p>The reset link is invalid. Please double check the reset link.</p>
    {% endif %}
{% endblock %}
