{% extends "base.html" %}
{% load floppyforms %}
{% block title %}Registration{% endblock %}

{% block content %}
    <h1>Registration</h1>

    <form action="." method="post" class="form-horizontal registration">{% csrf_token %}
        {% form form using "userprofiles/registration_form.html" %}

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Create account</button>
            <button class="btn" type="reset">Reset</button>
        </div>
    </form>
{% endblock %}
