{% extends "base.html" %}
{% load floppyforms %}

{% block title %}{% if key %}Change public key: {{ key.description }}{% else %}Add public key{% endif %}{% endblock %}

{% block content %}
    <h1>{% if key %}Change public key: {{ key.description }}{% else %}Add public key{% endif %}</h1>

    <form action="." method="post" class="form-horizontal key-change">{% csrf_token %}
        {% form form %}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">{% if key %}Save public key{% else %}Add public key{% endif %}</button>
            <button class="btn" type="reset">Reset</button>
        </div>
    </form>
{% endblock %}
