{% extends "base.html" %}
{% load repositories_tags %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <p>
        <a href="{% url repositories_manage_add %}" class="btn">Create a new repository</a>
    </p>
    <div class="row">
        <div class="span6">
            <h2>Your private repositories</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Last commit</th>
                        <th>Owner</th>
                        <th>Write</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                {% for repository in private_repository_list %}
                    <tr>
                        <td><a href="{% repo_url repositories_summary repository %}">{{ repository.title }}</a></td>
                        {% if repository.last_commit %}
                            <td><a href="{% repo_url commits_commit repository repository.get_last_commit.id %}">
                                {{ repository.get_last_commit.commit_date }}</a></td>
                        {% else %}
                            <td>&mdash;</td>
                        {% endif %}
                        <td>{{ repository.user.username }}</td>
                        <td>{{ repository.can_write }}</td>
                        <td>
                            {% if repository.can_admin %}
                                <a href="{% repo_url repositories_manage_change repository %}" class="btn">Manage</a>
                            {% else %}
                                &#10005;
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span6">
            <h2>Your public repositories</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Last commit</th>
                        <th>Owner</th>
                        <th>Write</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                {% for repository in public_repository_list %}
                    <tr>
                        <td><a href="{% repo_url repositories_summary repository %}">{{ repository.title }}</a></td>
                        {% if repository.last_commit %}
                            <td><a href="{% repo_url commits_commit repository repository.get_last_commit.id %}">
                                {{ repository.get_last_commit.commit_date }}</a></td>
                        {% else %}
                            <td>&mdash;</td>
                        {% endif %}
                        <td>{{ repository.user.username }}</td>
                        <td>{{ repository.can_write }}</td>
                        <td>
                            {% if repository.can_admin %}
                                <a href="{% repo_url repositories_manage_change repository %}" class="btn">Manage</a>
                            {% else %}
                                &#10005;
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
