{% load repositories_tags gravatar_tags %}
<div class="commit">
    <div class="commit-summary">
        <p>
            <strong><a href="{% repo_url repositories_commit repository commit.id %}">{{ commit.short_message }}</a></strong><br />
        </p>
        <hr />
        <p>
            {{ commit.message|linebreaks }}
        </p>
        <hr />
        <p>
            <img src="{% avatar commit.committer_email 40 "g" %}">
            <div>
                <i><a href="#">{{ commit.committer }}</a> committed {{ commit.ago }}.</i><br />
                {{ commit.commit_date }}
            </div>
        </p>
    </div>

    <div class="commit-info">
        <table>
            <tr>
                <td>Commit:</td>
                <td><a href="{% repo_url repositories_commit repository commit.id %}">{{ commit.short_id }}</a></td>
            </tr>
            <tr>
                <td>Parents:</td>
                <td>
                    {% for short_parent, parent in commit.short_long_parents %}
                        <a href="{% repo_url repositories_commit repository parent %}">{{ short_parent }}</a><br />
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Tree:</td>
                <td><a href="{% repo_url repositories_commit_tree_root repository commit.id %}">{{ commit.short_tree }}</a></td>
            </tr>
            {#<tr>#}
            {#    <td>Archive:</td>#}
            {#    <td><a href="{% repo_url repositories_commit_archive repository commit.id %}">{{ commit.short_id }}</a></td>#}
            {#</tr>#}
        </table>
    </div>
    <div style="clear:both"></div>
</div>
