{% extends "base.html" %}
{% load gravatar_tags repositories_tags utils_tags %}

{% block title %}{{ repository.title }} - {{ commit.id }}{% endblock %}

{% block content %}
    <h1><a href="{% repo_url repositories_summary repository %}">{{ repository.title }}</a> - Commit {{ commit.id }}</h1>

    {% include "commits/snippet_commit.html" %}

    <table class="table table-hover changed-files">
        <thead>
            <tr>
                <th>File</th>
                <th><span class="pull-right">Changes</span></th>
            </tr>
        </thead>
        <tbody>
        {% for file in commit.changed_files %}
        <tr>
            <td><a href="#{{ file.file }}">{{ file.file }}</a></td>
            <td>
                <span class="pull-right">
                    <span class="label label-success">{{ file.lines_added }} added</span>
                    <span class="label label-important">{{ file.lines_removed }} removed</span>
                </span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if commit.changed_files|length <= 20 %}
        {% for diff in commit.file_diffs %}
            {% with forloop as diffloop %}
                <a name="{{ diff.file }}"></a><h3>{{ diff.file }}</h3>
                {% if diff.line_numbers %}
                    <pre class="lines linesl">{% for line1, line2 in diff.line_numbers %}<a id="LL{{ diffloop.counter }}-{{ line1 }}" href="#LL{{ diffloop.counter }}-{{ line1 }}">{{ line1 }}</a>
{% endfor %}</pre>
                    <pre class="lines linesr">{% for line1, line2 in diff.line_numbers %}<a id="LR{{ diffloop.counter }}-{{ line2 }}" href="#LR{{ diffloop.counter }}-{{ line2 }}">{{ line2 }}</a>
{% endfor %}</pre>
                    <pre class="diff no-left-border">{{ diff.diff|pygmentize_diff }}</pre>
                {% else %}
                    <pre class="diff"><span class="gd">--- File empty</span></pre>
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endif %}
{% endblock %}
