{% extends "base.html" %}
{% load gravatar_tags repositories_tags %}
{% block title %}Repository: {{ repository.title }}{% endblock %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function(){
        var baseurl = "{% repo_url repositories_summary repository %}commits/";
        $("#tags").change(function(){
            if (this.value.length > 0) {
                window.location.href=baseurl+this.value;
            }
        });
        $("#branches").change(function(){
            if (this.value.length > 0) {
                window.location.href=baseurl+this.value;
            }
        });
    });
</script>
<div class="grid_16 content" id="repo-commits">
    <h1>{{ repository.title }} - {{ branchtag }}</h1>
    <div class="grid_8">
        {% if repository.branches %}
            <div class="repo-branches">
                Branches:
                <select name="branches" id="branches">
                    <option value="">--------</option>
                    {% for branch in repository.branches %}
                    <option value="{{ branch.name }}"{% if branch.name == branchtag %} selected="selected"{% endif %}>{{ branch.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>
    <div class="grid_8">
        {% if repository.tags %}
            <div class="repo-tags">
                Tags:
                <select name="branches" id="tags">
                    <option value="">--------</option>
                    {% for tag in repository.tags %}
                    <option value="{{ tag.name }}"{% if tag.name == branchtag %} selected="selected"{% endif %}>{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>
    <div class="pagination">
        {% if prev_page %}<a class="prev-page" href="?page={{ prev_page }}">prev page</a>{% endif %}
        <a class="next-page" href="?page={{ next_page }}">next page</a>
        <div style="clear:both"></div>
    </div>

    <div class="recent-commits">
    {% for commit in commits %}
        {% include "commits/snippet_commit.html" %}
    {% endfor %}
    </div>
    <div class="pagination">
        {% if prev_page %}<a class="prev-page" href="?page={{ prev_page }}">prev page</a>{% endif %}
        <a class="next-page" href="?page={{ next_page }}">next page</a>
        <div style="clear:both"></div>
    </div>
</div>
{% endblock %}
