{% extends "base.html" %}
{% load gravatar_tags repositories_tags %}

{% block title %}{{ repository.title }} - {{ branchtag }}{% endblock %}

{% block content %}
    <h1><a href="{% repo_url repositories_summary repository %}">{{ repository.title }}</a> - {{ branchtag }}</h1>

    {% if repository.branches %}
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Branches
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="branches">
            {% for branch in repository.branches %}
                <li{% if branch.name == branchtag %} class="disabled"{% endif %}>
                    <a tabindex="-1" href="{% repo_url commits_commits repository branch.name %}">{{ branch.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if repository.tags %}
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Tags
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="tags">
            {% for tag in repository.tags %}
                <li{% if tag.name == branchtag %} class="disabled"{% endif %}>
                    <a tabindex="-1" href="{% repo_url commits_commits repository tag.name %}">{{ tag.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <ul class="pager">
        {% if prev_page %}
            <li class="previous">
                <a href="?page={{ prev_page }}">&larr; prev page</a>
            </li>
        {% endif %}

        {% if next_page %}
            <li class="next">
                <a href="?page={{ next_page }}">next page &rarr;</a>
            </li>
        {% endif %}
    </ul>

    {% for commit in commits %}
        {% include "commits/snippet_commit.html" %}
    {% endfor %}

    <ul class="pager">
        {% if prev_page %}
            <li class="previous">
                <a href="?page={{ prev_page }}">&larr; prev page</a>
            </li>
        {% endif %}

        {% if next_page %}
            <li class="next">
                <a href="?page={{ next_page }}">next page &rarr;</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
