{% extends "base.html" %}
{% load gravatar_tags %}
{% block title %}Welcome back{% endblock %}

{% block content %}
<div class="grid_16 content" id="repo-summary">
    <h1>{{ repository.title }}</h1>

    <div class="repo-description">{{ repository.description|linebreaks }}</div>

    <h2>Recent commits</h2>

    {% for commit in repository.recent_commits %}
    <div class="recent-commits">
        <div class="commit">
            <div class="commit-summary">
                <p><a href="">{{ commit.msg }}</a></p>
                <hr />
                <p>
                    <img src="{% avatar commit.committer_mail 40 "g" %}">
                    <i><a href="">{{ commit.committer }}</a> committed {{ commit.ago }}.</i><br />
                </p>
            </div>

            <div class="commit-info">
                <table>
                    <tr>
                        <td>Commit:</td>
                        <td><a href="{{ commit.id }}">{{ commit.short_id }}</a></td>
                    </tr>
                    <tr>
                        <td>Parents:</td>
                        <td>
                            {% for parent in commit.short_parents %}
                                <a href="{{ parent }}">{{ parent }}</a><br />
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Tree:</td>
                        <td><a href="{{ commit.tree }}">{{ commit.short_tree }}</a></td>
                    </tr>
                </table>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
