{% extends "base.html" %}
{% load gravatar_tags repositories_tags %}

{% block title %}Repository: {{ repository.title }} - {{ commit.id }}{% endblock %}

{% block content %}
<div class="grid_16 content" id="repo-commit">
    <h1><a href="{% url repositories_summary repository.user.username repository.slug %}">{{ repository.title }}</a> - Commit {{ commit.id }}</h1>

    {% include "repositories/snippet_commit.html" %}

    <div class="changed-files">
        {% for added,removed,filename in commit.changed_files %}
        <div>
            <div class="changed-file"><a href="#{{ filename }}">{{ filename }}</a></div>
            <div class="changed-lines">
                <span class="added"><strong>{{ added }}</strong> added</span>
                <span class="removed"><strong>{{ removed }}</strong> removed</span>
            </div>
        </div>
        <div style="clear:both"></div>
        {% if not forloop.last %}<hr />{% endif %}
        {% endfor %}
    </div>
    <div class="commit-diff">
        <pre class="diff">{{ commit.diff|pygmentize_diff }}</pre>
        </div>
    </div>
</div>

{% endblock %}

