{% extends "base.html" %}
{% load gravatar_tags repositories_tags %}

{% block title %}Repository: {{ repository.title }} - {{ commit.id }}{% endblock %}

{% block content %}
<div class="grid_16 content" id="repo-summary">
    <h1>{{ repository.title }}</h1>

    <h2>Commit {{ commit.id }}</h2>

    <div class="commit">
        <div class="commit-summary">
            <p>{{ commit.msg }}</p>
            <hr />
            <p>

                <img src="{% avatar commit.committer_mail 40 "g" %}">
                <i><a href="">{{ commit.committer }}</a> committed {{ commit.ago }}.</i><br />
            </p>
        </div>
        <div class="commit-info">
            <table>
                <tr>
                    <td>Commit:</td>
                    <td>{{ commit.short_id }}</td>
                </tr>
                <tr>
                    <td>Parents:</td>
                    <td>
                    {% for short_parent, parent in commit.both_parents %}
                        <a href="{% url repositories_commit repository.user.username repository.slug parent %}">{{ short_parent }}</a><br />
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Tree:</td>
                    <td><a href="{% url repositories_tree repository.user.username repository.slug commit.id %}">{{ commit.short_tree }}</a></td>
                </tr>
            </table>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="changed-files">
        {% for added,removed,filename in commit.changed_files %}
        <div>
            <div class="changed-file"><a href="#{{ filename }}">{{ filename }}</a></div>
            <div class="changed-lines">
                <span class="added"><strong>{{ added }}</strong> added</span>
                <span class="removed"><strong>{{ removed }}</strong> removed</span>
            </div>
        </div>
        <div style="clear:both"></div>
        {% if not forloop.last %}<hr />{% endif %}
        {% endfor %}
    </div>
    <div class="commit-diff">
        <pre class="diff">{{ commit.diff|pygmentize_diff }}</pre>
        </div>
    </div>
</div>

{% endblock %}

