{% extends "base.html" %}
{% load repositories_tags %}

{% block title %}Public repositories{% endblock %}

{% block content %}
<div class="grid_16 content" id="repo-list">
    <h1>Public repositories</h1>

    <table border=1>
        <thead>
        <tr>
            <th>Project</th>
            <th>Last commit</th>
            <th>Last updated</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        {% for repo in repository_list %}
        <tr>
            <td><a href="{% repo_url repositories_summary repo %}">{{ repo.title }}</a></td>
            {% if repo.last_commit %}
            <td><a href="{% repo_url repositories_commit repo repo.last_commit.id %}">{{ repo.last_commit.short_message }} (by {{ repo.last_commit.author }})</a></td>
            <td>{{ repo.last_commit.commit_date }}</td>
            {% else %}
            <td>Empty repository</td>
            <td>No commits</td>
            {% endif %}
            <td>{{ repo.user }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
