{% extends "base.html" %}

{% block title %}Welcome back{% endblock %}

{% block content %}
<div class="grid_16" id="repo-list">
    <table border=1>
        <thead>
        <tr>
            <th>Project</th>
            <th>Last commit</th>
            <th>Last updated</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        {% for repo in repository_list %}
        <tr>
            <td><a href="{% url repositories_summary repo.user.username repo.slug %}">{{ repo.title }}</a></td>
            <td>{{ repo.last_commit.short_msg }} (by {{ repo.last_commit.author }})</td>
            <td>{{ repo.last_commit.commit_date }}</td>
            <td>{{ repo.user }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
