{% extends "base.html" %}
{% load gravatar truncate %}
{% block title %}Welcome back{% endblock %}

{% block content %}
<div class="grid_16" id="recent_commits">
    <br />
    <h1>{{ repository_summary.title }}</h1>
    <br />
    <div id="summary_description">{{ repository_summary.description|linebreaks }}</div>
    <br />
    <br />
    <h2>Recent commits</h2>
    <br />

    {% for commit in repository_summary.recent_commits %}
    <div class="summary_commit">
        <div>
            <div class="summary_commit_info">
                <img src="{% avatar commit.committer_mail 40 "g" %}">
                <i><a href="">{{ commit.committer }}</a> committed {{ commit.ago }}.</i>
                <br />
                <p style="margin:5px;"><a href="">{{ commit.msg }}</a></p>
            </div>

            <div class="commit_info_table">
                <table style="">
                    <tr><td>Commit:</td><td> <a href="{{ commit.id }}">{{ commit.short_id }}</a></td></tr>
                    <tr><td>Parents:</td><td>{% for parent in commit.parents %}<a href="{{ parent }}">{{ parent|truncate }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br /><br /></td></tr>
                    <tr><td>Tree:</td><td> <a href="{{ commit.tree }}">{{ commit.short_tree }}</a></td></tr>
                </table>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    {% endfor %}
</div>






{% endblock %}