{% extends "base.html" %}
{% load gravatar_tags %}
{% block title %}Repository: {{ repository.title }}{% endblock %}

{% block content %}
<div class="grid_16 content" id="repo-summary">
    {% if repository.get_tags %}
    <div class="repo-tags">
    Tags:
    <select>
            <option></option>
            {% for tag in repository.get_tags %}
            <option>{{ tag.name }}</option>
            {% endfor %}
    </select>
    </div>
    {% endif %}
    <h1>{{ repository.title }}</h1>

    <div class="repo-description">{{ repository.description|linebreaks }}</div>

    <h2>Recent commits</h2>

    {% for commit in repository.recent_commits %}
    <div class="recent-commits">
        <div class="commit">
            <div class="commit-summary">
                <p><a href="{% url repositories_commit repository.user.username repository.slug commit.id %}">{{ commit.msg }}</a></p>
                <hr />
                <p>
                    <img src="{% avatar commit.committer_mail 40 "g" %}">
                    <i><a href="#">{{ commit.committer }}</a> committed {{ commit.ago }}.</i><br />
                </p>
            </div>

            <div class="commit-info">
                <table>
                    <tr>
                        <td>Commit:</td>
                        <td><a href="{% url repositories_commit repository.user.username repository.slug commit.id %}">{{ commit.short_id }}</a></td>
                    </tr>
                    <tr>
                        <td>Parents:</td>
                        <td>
                            {% for short_parent, parent in commit.both_parents %}
                                <a href="{% url repositories_commit repository.user.username repository.slug parent %}">{{ short_parent }}</a><br />
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Tree:</td>
                        <td><a href="{% url repositories_tree repository.user.username repository.slug commit.id %}">{{ commit.short_tree }}</a></td>
                    </tr>
                </table>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
