{% extends "base.html" %}

{% block content %}
<div class="grid_12 treeview">

{% if not tree %}
    No files ...
{% else %}
<table>
    {% if tree.path %}
        <tr><td onclick="window.location.href='../'"><a href="../" class="backlink">..</a></td></tr>
    {% endif %}
    {% for entry in tree.tree %}
        <tr><td onclick="window.location.href='{% url repositories_commit_tree repository.user.username repository.slug commit.id entry.path %}'">
        {% if entry.type == 'blob' %}
            <img src="{{ STATIC_URL }}images/fileicons/{{ entry.mime_image }}" />
        {% else %}
            <span>+</span>
        {% endif %}
            <a href="{% url repositories_commit_tree repository.user.username repository.slug commit.id entry.path %}">{{ entry.name }}</a>
        </td></tr>
    {% endfor %}
</table>
{% endif %}
</div>
{% endblock %}
